[core]
	excludesfile = /Users/kazuki/.gitignore_global
	quotepath = false
	autocrlf = input
[user]
	name = Kazuki Sawada
	email = kazuki@6715.jp
	signingkey = CFCB1F563F8149B8CE23AD56105FFD70FF15272E
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
#	program = C:/Program Files (x86)/GnuPG/bin/gpg.exe
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
