<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>jp.6715.bucketrelay</string>
	<key>OnDemand</key>
	<false/>
	<key>ProgramArguments</key>
	<array>
		<string>{{ ansible_env.HOME }}/.go/bin/bucketrelay</string>
		<string>[
			{
				"src": "{{ ansible_env.HOME }}/.config/karabiner/karabiner.json",
				"dst": "/Volumes/GoogleDrive/マイドライブ/archive/karabiner.json"
			},
			{
				"src": "{{ ansible_env.HOME }}/.local/share/fish/fish_history",
				"dst": "/Volumes/GoogleDrive/マイドライブ/archive/fish_history"
			}
		]</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
